[submodule "tmux"]
	path = tmux
	url = https://github.com/tmux/tmux.git
[submodule "opencode"]
	path = opencode
	url = https://github.com/sst/opencode.git
[submodule "oh-my-opencode"]
	path = oh-my-opencode
	url = https://github.com/code-yeongyu/oh-my-opencode.git
[submodule "openagentscontrol"]
	path = openagentscontrol
	url = https://github.com/darrenhinde/OpenAgentsControl.git
